
html {
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}
body {
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background: transparent;
}
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	maigin: 0;
}